/* Cores do projeto */
:root {
    --primary-color: #0275d8;
    --secondary-color: #6c757d;
    --succes-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
}

:host {
    display: block;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--succes-color); */
}

header {
    width: 100%;
    min-height: 5vh;
    background-color: var(--succes-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nome-site {
    font-size: 2rem;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#vencedor {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}

#tic-tac {
    background-color: var(--danger-color);
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.row {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: solid 1px var(--succes-color);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.box.selectable:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#reset {
    margin-top: 20px;
}

.btn {
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.bg-succes {
    color: #fff;
    background-color: var(--succes-color);
}