/* Cores do projeto */
:root {
    --primary-color: #0275d8;
    --secondary-color: #6c757d;
    --succes-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
}

:host {
    display: block;
}

.x{
    color: var(--danger-color);
}

.o{
    color: var(--info-color);
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--succes-color); */
}

header {
    width: 100%;
    min-height: 5vh;
    background-color: var(--succes-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nome-site {
    font-size: 2rem;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

#vencedor {
    font-size: 1.5rem;
    color: var(--succes-color);
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}

#tic-tac {
    background-color: var(--danger-color);
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.row {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: solid 1px var(--succes-color);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.box.selectable:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#reset {
    margin-top: 20px;
}

.btn {
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.bg-succes {
    color: #fff;
    background-color: var(--succes-color);
}

.btn-hamburger, .btn-close-menu {
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* Menu Lateral (Sidenav) */
.sidenav {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido por padrão */
    width: 250px;
    height: 100%;
    background-color: var(--succes-color);
    color: var(--text-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidenav.open {
    left: 0; /* Exibido quando a classe 'open' é aplicada */
}

.menu-item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item a, .menu-item button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

/* Fundo */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.backdrop.visible {
    display: block;
}

/* Alterações no Header para acomodar o menu */
/* header .container {
    justify-content: flex-start;
    gap: 20px;
} */