<div class="main-container">
  <header>
    <div class="container">
      <h1 class="nome-site">Tic Tac Toe</h1>
    </div>
  </header>
  <section class="container">
    <p id="vencedor" class="outline" [class.hidden]="!gameIsOver">
      {{ winnerMessage }}
    </p>
  </section>
  <section id="tic-tac">
    <div class="row">
      <div #box id="c1" class="box selectable" (click)="handleMove(0)"></div>
      <div #box id="c2" class="box selectable" (click)="handleMove(1)"></div>
      <div #box id="c3" class="box selectable" (click)="handleMove(2)"></div>
    </div>
    <div class="row">
      <div #box id="c4" class="box selectable" (click)="handleMove(3)"></div>
      <div #box id="c5" class="box selectable" (click)="handleMove(4)"></div>
      <div #box id="c6" class="box selectable" (click)="handleMove(5)"></div>
    </div>
    <div class="row">
      <div #box id="c7" class="box selectable" (click)="handleMove(6)"></div>
      <div #box id="c8" class="box selectable" (click)="handleMove(7)"></div>
      <div #box id="c9" class="box selectable" (click)="handleMove(8)"></div>
    </div>
  </section>

  <section id="reset" class="container">
    <button id="resetar" class="btn bg-succes" (click)="resetGame()">Resetar Jogo</button>
  </section>
</div>