<div class="main-container">
    <header>
        <div class="container">
            <div class="container-btn">
                <button class="btn-hamburger" (click)="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="container-title">
                <h1 class="page-title">Tic Tac Toe</h1>
            </div>
        </div>
    </header>

    <nav class="sidenav" [class.open]="isMenuOpen">
        <div class="menu-item">
            <button class="btn-close-menu" (click)="toggleMenu()">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="menu-item">
            <a href="/puzzles" class="btn">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>

        <div class="menu-item">
            <button class="btn" (click)="onRulesClick(); toggleMenu()">
                <i class="fas fa-question-circle"></i> Regras
            </button>
        </div>

        <div class="menu-item">
            <button class="btn" (click)="resetGame(); toggleMenu()">
                <i class="fas fa-arrow-rotate-left"></i> Reiniciar
            </button>
        </div>
    </nav>

    <section class="container">
        <p id="vencedor" class="outline" [class.hidden]="!gameIsOver">
            {{ winnerMessage }}
        </p>
    </section>

    <section id="tic-tac">
        <div class="row">
            <div #box id="c1" class="box selectable" (click)="handleMove(0)"></div>
            <div #box id="c2" class="box selectable" (click)="handleMove(1)"></div>
            <div #box id="c3" class="box selectable" (click)="handleMove(2)"></div>
        </div>
        <div class="row">
            <div #box id="c4" class="box selectable" (click)="handleMove(3)"></div>
            <div #box id="c5" class="box selectable" (click)="handleMove(4)"></div>
            <div #box id="c6" class="box selectable" (click)="handleMove(5)"></div>
        </div>
        <div class="row">
            <div #box id="c7" class="box selectable" (click)="handleMove(6)"></div>
            <div #box id="c8" class="box selectable" (click)="handleMove(7)"></div>
            <div #box id="c9" class="box selectable" (click)="handleMove(8)"></div>
        </div>
    </section>

    <button id="reset" class="btn sucess" (click)="resetGame()">
        Reiniciar
    </button>

    <div class="popup" [class.is-visible]="showRulesPopup">
        <div class="popup-content">
            <div class="popup-header">
                <h3 class="popup-title">Regras do Tic-Tac-Toe</h3>
                <button class="close-popup-btn" (click)="closeRulesPopup()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <p>Este jogo da velha tem uma reviravolta para evitar empates:</p>
            <p>Após o quarto movimento, o jogador deve escolher qual de suas peças (X ou O) será removida do tabuleiro, permitindo que o jogo continue e que o adversário vença.</p>
            <p>Isso garante um vencedor e impede que o jogo termine em um empate previsível.</p>
        </div>
    </div>

</div>