<div class="main-container">
  <app-header title="Glutão">
    <app-menu></app-menu>
  </app-header>

  <app-page-content>
    <div class="backdrop" [class.visible]="isMenuOpen" (click)="toggleMenu()"></div>

    <div class="container">
      <section class="content">
        <div class="row">
          <div id="player-click" class="center col-3">
            <h2 id="player" class="thin" #playerText>Sua vez!</h2>
          </div>
        </div>

        <div class="row">
          <div class="center">
            <div id="pieces" #piecesContainer></div>
          </div>
        </div>

        <div class="row action-buttons-row">
          <div class="action-buttons-group">
            <button id="eat" class="btn sucess" (click)="onEatClick()">Comer</button>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="row">
          <h2 class="thin center">Regras</h2>
        </div>
        <div class="">
          <p>Aqui há {{ QtyExistingPieces }} maçãs.</p>
          <p>Durante o jogo cada jogador alternativamente pode retirar desde 1 até {{ QtyRemoval }} delas.</p>
          <p>Aquele que ficar com a última, perderá.</p>
        </div>
      </section>
    </div>
  </app-page-content>

  <app-sidenav>
    <app-item-nav 
      [type]="NavItemType.LINK" 
      name="Voltar" 
      link="/puzzles" 
      icon="fa-arrow-left">
    </app-item-nav>
  </app-sidenav>
</div>