<div class="main-container">
  <app-header title="Puzzles"></app-header>

  <app-page-content>
    <section class="article-style card-grid">
      <app-card class="card">
        <h3 class="card-title">Glutão</h3>
        <p class="game-description">
          O jogo das maçãs. Evite pegar a última maça (podre) para vencer o jogo.
        </p>
        <a href="/glutao">
          <app-button text="Jogar"></app-button>
        </a>
      </app-card>
      
      <app-card class="card">
        <h3 class="card-title">Tic-Tac-Toe</h3>
        <p class="game-description">
          Um jogo da velha clássico, mas com uma reviravolta para evitar empates.
        </p>
        <a href="/tic-tac-toe">
          <app-button text="Jogar"></app-button>
        </a>
      </app-card>

      <app-card class="card">
        <h3 class="card-title">Fallen</h3>
        <p class="game-description">
          Explore um labirinto escuro para encontrar a saída antes que seja tarde.
        </p>
        <a href="/fallen">
          <app-button text="Jogar"></app-button>
        </a>
      </app-card>

      <app-card class="card">
        <h3 class="card-title">Guess</h3>
        <p class="game-description">
          Adivinhe a sequência de cores correta em um número limitado de tentativas.
        </p>
        <a href="guess">
          <app-button text="Jogar"></app-button>
        </a>
      </app-card>
    </section>
  </app-page-content>

</div>