/* Paleta de Cores */
/* :root {
  --background-color: #AC929A;
  --background-color-light: #C9B2BA;
  --text-color: #FAFAFF;
  --bg-primary-button: #312a2c;
  --color-bg-popup: #312B2D;
  --border-primary: #7C686D;
} */

/* Estilos gerais do corpo */
:host {
  display: block;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
  padding: 20px;
}

/* Cabeçalho */
header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
}

/* Container dos Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  /* Limita a largura máxima do container */
  max-width: 650px;
  margin: 0 auto;
}

/* Estilo do Card do Jogo */
.game-card {
  background-color: var(--background-card);
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-card-color);
  margin-bottom: 10px;
}

.game-description {
  color: var(--text-card-color);
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Estilo do Botão "Jogar" */
.play-button {
  display: inline-block;
  background-color: var(--button-bg-primary);
  color: var(--text-color);
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center;
}

.play-button:hover {
  background-color: var(--color-bg-popup);
  transform: scale(1.05);
}

/* Responsividade */

/* Desktop (min-width > 650px): 2 colunas */
@media (min-width: 650px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    max-width: 650px; 
  }
}

/* Mobile/Tablet (max-width <= 649px): 1 coluna */
@media (max-width: 649px) {
  .cards-container {
    grid-template-columns: 1fr;
    max-width: 400px; 
    padding: 0 10px;
  }
}