/* You can add global styles to this file, and also import other style files */
:root {
    /* main */
    --bg-color: #f0f4f8;
    --primary-color: #2f4f4f;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.3);

    /* NOVAS CORES PARA ELEMENTOS */
    --background-card: #2C3E50; /* Fundo dos Cards (Tabuleiro e caixas) */
    --text-card-color: #FAFAFA; /* Texto padrão */
    --button-bg-primary: #1C3144; /* Fundo do botão Resetar */

    /* second */
    --background-color: #AC929A;
    --background-color-light: #C9B2BA;
    --text-color: #FAFAFF;
    --bg-primary-button: #312a2c;
    --color-bg-popup: #312B2D;
    --border-primary: #7C686D;

    /* glutao */
    --apple-green: #4caf50;
    --apple-red: #f44336;
    --apple-brown: #FF8C00 ;/*;*/
    --selected-blue: #2196f3;

    /* guess */
    --red: #FFA07A;
    --blue: #ADD8E6;
    --pink: #FFB6C1;
    --yellow: #ECECCB;
    --green: #98FB98;
    --purple: #E6E6FA;

    /* tic-tac-toe */
    --main-color: #0275d8;
    --secondary-color: #6c757d;
    --succes-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;

}

body {
    margin: 0;
}